modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 26138
externalPort = 3000

[userenv]

[userenv.shared]
ROLES_SYNC_SECRET = "39a7f83ba29a22a0c86369b01814972dd3cc1718acfd3017652f9058beb940c"
NEXTAUTH_URL = "https://rsa-centre.com"
NEXTAUTH_SECRET = "cYTdDzT2bSXMrB8Pt83i8Fmbs3jJ1mSUBpRTwAE6ULo="
DISCORD_CLIENT_SECRET = "o8TSESGY-ruSjfKxjGk9lFf3nlD3HJGr"
DISCORD_CLIENT_ID = "1512487796403605725"
DISCORD_GUILD_ID = "1469086162344874037"
DISCORD_BOT_TOKEN = "MTUxMjQ4Nzc5NjQwMzYwNTcyNQ.Gk31Dg.SrMlPHhRctI0pqxTWDom2xlYVYMs1ExI6vAKDM"

[nix]
channel = "stable-25_05"
